@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito:300,400,700&amp;display=swap");
:root {
  --member-animation: all 0.35s ease-in-out;
  --font-family-1: "Josefin Sans", sans-serif;
  --font-family-2: Nunito, sans-serif;
}

/* TIMELINE */
#timeline-container {
  background: #00112e;
  background: linear-gradient(171deg, #00112e 0%, #f7f7f7 100%);
  overflow: auto;
  padding: 60px 0;
  width: 1200px;
}
#timeline-container .inner-container {
  max-width: 1000px;
  margin: 0 auto;
}
#timeline-container .inner-container .head {
  text-align: center;
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 3rem;
  color: white;
  margin-top: 0;
}

.timeline {
  margin: 0 auto;
  position: relative;
  left: 120px;
  width: 80%;
  max-width: 900px;
  margin-top: 16px;
  margin-left: 5%;
}
a:hover{
  text-decoration: none;
}

.timeline-item {
  color: #ffffff;
  font-family: var(--font-family-2);
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-left: 4px solid #fff;
  
  position: relative;
  list-style-type: none;
  --item-width: calc(100%);
}

.timeline-item::after {
  content: attr(data-date);
  position: absolute;
  right: calc(var(--item-width) + 40px);
  top: 16px;
  float: right;
  font-weight: bold;
  white-space: nowrap;
}
.timeline-item::before {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  left: -10px;
  top: 21px;
}
.timeline-item:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 800px) {
  .timeline {
    margin: 0 auto;
    position: relative;
    left: 8px;
    width: 200px;
  }
  .timeline .timeline-item {
    font-size: 1.1rem;
    width: 200px;
    height: 300px;
  }
  .timeline .timeline-item::after {
    right: calc(var(--item-width) + 30px);
  }
}
@media only screen and (max-width: 800px) {
  .timeline-item {
    padding: 1rem 1.5rem 1rem 0.5rem;
  }
  .timeline-item::after {
    right: calc(var(--item-width) + 20px);
  }
}
/* TIMELINE end */

.journey{
    height: 250px;
    width: 200px;
}
.jour{
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}